<html>
<body>
<div class="page_title2">
<div class="container">
<br>
<br>
    <div class="title"><h1>资料库</h1></div>
    
</div>
</div><!-- end page title -->  
<div class="clearfix"></div>

<div class="container">
	<div class="content_fullwidth">
<div class="item">
                {% autoescape off %}
                {{copyright}}<br>
                    <div id="pic" class="pic"><img id="show" src="data:image/png;base64,{{ base64_data }}" onload="if(this.width >= 800){this.width = 800}"/></div>
                <form action="books_edit.html" method="post" style="margin:0px;display:inline;">
                <input type="hidden" name="key_Id" value="{{ imagetext.id }}" />
                    <div id="content" class="content"><textarea name ="textarea" cols="80" rows="30">{{ textcontent }}</textarea></div>
                {% csrf_token %}
                <input type="submit" value="保存" />
                </form>
                <form action="books_edit.html" method="post" style="margin:0px;display:inline;">
                <input type="hidden" name="key_Id" value="{{ before }}" />
                {% csrf_token %}
                <input type="submit" value="上一页" />
                </form>
                <form action="books_edit.html" method="post" style="margin:0px;display:inline;">
                <input type="hidden" name="key_Id" value="{{ next }}" />
                {% csrf_token %}
                <input type="submit" value="下一页" />
                </form>
                {% endautoescape %}
</div>
</div> <!--end content area -->
</div>
</body>
</html>

